::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

a {
  color: white;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
} 

header {
  position: absolute;
  display: flex;
  column-gap: 15px;
  padding: 60px 80px;
}

header .line-container .line {
  margin: 20% auto;
  width: 40px;
  height: 2px;
  background-color: #848484;
}

header .portfolio {
  font-weight: bold;
}

main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: 1fr;
  column-gap: 4rem;
  padding: 100px 80px 0 80px;
  background-image: url('assets/Group\ 5.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

main #left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin-top: 4rem;
}

main #left-side #left-side__upper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

main #left-side #left-side__upper h1 {
  font-size: 80px;
  color: #303030;
  letter-spacing: -2px;
}

main #left-side #left-side__upper h4 {
  font-size: 24px;
  font-weight: bold;
  color: #303030;
}

main #left-side #left-side__upper .description {
  font-size: 20px;
  color: #666666;
}

main #left-side #left-side__upper .hello {
  font-weight: 600;
  color: #1E9D9D;
  font-size: 20px;
}

main #left-side__bottom {
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  margin-bottom: 50px;
}

main #left-side__bottom .title {
  display: flex;
  column-gap: 15px;
  font-weight: bold;
}

main #left-side__bottom .title .line-container .line {
  width: 40px;
  height: 1px;
  margin: 20% auto;
  background-color: white;
}

main #left-side__bottom .contacts-details {
  display: flex;
  column-gap: 64px;
}

main #left-side__bottom .contacts-details h5, 
main #left-side__bottom .contacts-details p {
  font-size: 18px;
  padding-bottom: 10px;
}

main #center-side {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

main #center-side img {
  width: 98%;
}

main #right-side {
  display: flex;
  flex-direction: column-reverse;
  width: 6rem;
  padding-bottom: 60px;
}

main #right-side .icons {
  color: white;
}

main #right-side .icons > div {
  width: fit-content;
  margin: 24px auto;
  font-size: 24px;
}

main #right-side .icons div i:hover {
  cursor: pointer;
  transition: .2s ease-in-out;
  color: rgb(211, 211, 211);
}

main #right-side .portfolio {
  transform: rotate(90deg);
  color: white;
  font-weight: bold;
  margin: 2rem auto;
}

main #right-side .line-container {
  width: 1px;
  height: 40px;
  margin: 1rem auto;
  background-color: white;
}